@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic');

a {
    color: inherit;
}
a:hover {
    color: inherit;
}
        /*start header*/
header {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
    /*general style*/
.white-section {
    padding: 3% 0;
    display: block;
    font-family: 'Open Sans', sans-serif;
}
.collection {
    margin-top: 4%;
}
.btn-green {
    border-radius: 4px;
    background-color: #90bc3b;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px 20px;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
}
.btn-green:focus {
    outline: none;
}
.section-title {
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    line-height: 17px;
}
.btn-white {
    color: #659a00;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 4px;
    border: 1px solid #90bc3b;
    background: none;
    padding: 10px 20px;
    cursor: pointer;
}
.btn-white:focus {
    outline: none;
}
.label {
    width: 48px;
    height: 48px;
    background-color: #8cc63e;
    position: absolute;
    left: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}
    /*end general style*/
.top-header {
    height: 96px;
}
.info-header {
    line-height: 21px;
    width: 20vw;
}
.contacts-header {
    font-size: 19px;
    line-height: 20px;
}
.icons-header {
    color: #818181;
    font-size: 34px;
}
.icons-header a + a {
    padding: 0 5px 0 30px;
}
.nav-header {
    background-color: #e6e6e6;
}
.navbar-toggler {
    font-size: 2rem;
}
.navbar-toggler:focus {
    outline: none;
}
.navbar {
    padding: 0;
}
.nav-item {
    line-height: 39px;
    padding-bottom: 1px;
}
.nav-item:hover {
    border-bottom: 1px solid #8cc63e;
    color: inherit;
    line-height: 39px;
    padding-bottom: 0;
}

input[type="search"] + i {
    margin-left: -35px;
    color: #cccccc;
    z-index: 1;
}
        /*end header*/

    /*start section before-after*/
.before-after img {
    width: 100%;
}
.example-before-after > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 0;
}
.example-before-after > ul li {
    list-style-type: none;
    position: relative;
}
.label-before-after {
    font-size: 15px;
    padding: 0 15px;
    width: auto;
}
    /*end section before-after*/

        /*start section products*/
.product-item {
    border: 1px solid #e6e6e6;
    padding: 10px;
    text-align: center;
    height: 100%;
    transition: all 0.5s ease;
}
.product-item:hover {
    background-image: url("../img/bg-item-prod.png");
    background-size: cover;
    color: white;
}
.product-item:hover .bg-product-item {
    background-color: #4CAF50;
    width: 84px;
    height: 84px;
    color: #ffffff;
    border-radius: 50%;
}

.bg-product-item {
    background-color: #f2f2f2;
    width: 100%;
    height: 84px;
    color: #8cc63e;
    font-size: 40px;
    margin-bottom: 10px;
}
.title-products {
    max-width: 90%;
    min-height: 50px;
}
        /*end section products*/


        /*start sections leaders*/

/*this styles can be general*/

.title-wood-leaders {
    font-size: 20px;
    line-height: 25px;
}
.text-leaders {
    font-size: 15px;
    font-weight: 400;
    padding: 24px 0;
}

/*end this styles can be general*/

.collection img {
    width: 100%;
}
.price-leaders {
    font-size: 23px;
    font-weight: 400;
    padding: 20px 0;
}
/*start section choose material*/
.choose-material {
    background-image: url("../img/choose-material.png");
    background-size: cover;
    padding: 3% 0;
    margin-bottom: 3%;
}
.choose-material .section-title {
    line-height: 30px;
    color: #fff;
    max-width: 75%;
}
.choose-material label {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
}
.choose-material select {
    border-radius: 4px;
    background-color: #ffffff6b;
    margin: 10px 0;
    width: 80%;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 40px;
    border: none;
    padding: 5px;
}
.big-price {
    color: #ffffff;
    font-size: 67px;
    font-weight: 300;
    line-height: 40px;
}
.right-part-choose-material {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
/*end section choose material*/

/*section special offer*/
.offer-item {
    border: 1px solid #e6e6e6;
    position: relative;
    margin-bottom: 30px;
    height: 90%;
}
.offer-item:hover {
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.2);
}
.offer-item:hover .label {
    width: 72px;
    height: 72px;
}

.text-offer {
    padding: 15px 20px;
}
.price-offer {
    width: 100%;
    padding: 0 20px 15px;
    align-items: center;
    justify-content: space-between;
}
.new-price {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}
.old-price {
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    text-decoration: line-through;
}
/*end section special offer*/