/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .contacts-header > span {
        display: block;
    }
    .price-offer {
        align-items: flex-start;
        flex-direction: column;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .icons-header {
        display: none;
    }
    .form-search {
        position: absolute;
        right: 5px;
        top: 2px;
    }
    .nav-header {
        position: relative;
    }
    .navbar {
        display: block;
        width: 100%;
    }
    .nav-item {
        padding-left: 30px;
    }
    .nav-item:hover {
        border: none;
        background-color: #6bc729;
        color: white;
    }
    .products .collection > div {
        margin-top: 10px;
    }
    .text-leaders {
        padding: 15px 0;
    }
    .before-after img {
        padding-bottom: 5px;
    }
    .example-before-after > ul {
        align-items: center;
    }
    .big-price {
        font-size: 45px;
        margin-bottom: 35px;
    }
    .right-part-choose-material {
        justify-content: center;
    }
    .choose-material select {
        width: 95%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .contacts-header {
        display: none;
    }
    .info-header {
        width: auto;
    }
    .collection > div {
        width: 70%;
        text-align: center;
        margin: 10px auto;
    }
    .btn-green {
        margin-bottom: 25px;
    }
    .text-leaders {
        padding: 18px 0;
    }
    .price-leaders {
        padding: 15px 0;
    }
    .collection {
        margin-top: 6%;
    }
    .label-before-after {
        padding: 0 10px;
        height: 30px;
        font-size: 12px;
    }
    .choose-material label {
        padding: 15px 0;
        line-height: 20px;
    }
}
@media only screen and (max-width : 575px) {
    .choose-material {
        text-align: center;
    }
    .choose-material .section-title {
        display: inline-block;
    }
    .choose-material select {
        width: 85%;
    }
    .big-price {
        padding-top: 20px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .info-header {
        display: none;
    }
    .top-section {
        flex-direction: column;
    }
    .section-title {
        padding: 15px 0;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}